.main{
    display: flex;
    padding-left:5px ;
    padding-right: 5px;
    flex-direction:column;
    background-color:#a6b1e1;
    color:#f4eeff;
    justify-content: center;

  }
.navbar{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#424874;
    justify-content:space-around;
    align-items: center;
}
.nav{
    font-size: 20px;
    
}
.abc{ 
    text-decoration: none;
    color:#dcd6f7;  
}
.about{
    color:#f4eeff;
    
}
.pic{
 display: flex;
 flex-direction:row;
 justify-content: space-evenly; 
}
.image{
    border: 2px solid black;
    border-radius: 4px;
}

