body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #121212;
    color: #e0e0e0;
}

.navbar {
    display: flex;
    background-color: #2e2e3f;
    justify-content: space-between;
    padding: 15px 30px;
}
.nav img{
    width: 200px;
    height: 100px;
    
}


.nav a {
    text-decoration: none;
    color:#ffa726;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    color:antiquewhite;
}

.main {
    padding: 40px;
}

.introduction {
    text-align: center;
    margin-bottom: 40px;
}

.introduction h1 {
    color: #ff9800;
    font-size: 36px;
}

.introduction p {
    font-size: 18px;
    color: #cfd8dc;
}

.about {
    text-align: left;
    color: #e0e0e0;
    font-family: 'Verdana', sans-serif;
}

.about img {
    float: right;
    margin-right: 50px;
    border: 2px solid #424242;
    border-radius: 100%;
    
}
.about img:hover{
    box-shadow: 0 4px 10px #ff9800;
}



.about h1 {
    color: #fca626;
    line-height: 1.6;
    font-family: 'Georgia', serif;
}

.about p {
    color: #cfd8dc;
    font-size: 16px;
}

.skills {
    background-color: #2e2e3f;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.skills h1 {
    font-size: 28px;
    color: #ff9800;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    color: #cfd8dc;
    margin-bottom: 30px;
}

.skills_list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill_item {
    background-color: #424242;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    transition: all 0.3s ease;
}

.skill_item i {
    font-size: 40px;
    color: #ff9800;
    margin-bottom: 10px;
}

.skill_item p {
    font-size: 18px;
    font-weight: 600;
    color: #e0e0e0;
}

.skill_item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.work {
    text-align: center;
}

.image {
    border: 2px solid #424242;
    border-radius: 8px;
    width: 300px;
    height: 200px;
}

.image:hover {
    box-shadow: 0 4px 10px #ff9800;
}

.txt {
    margin-top: 10px;
    color: #e0e0e0;
    font-family: 'Verdana', sans-serif;
}

.txt:hover {
    color: #ffa726;
}

.view {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #212121;
}

.view a {
    text-decoration: none;
}

.view:hover {
    background-color: #ffa726;
}

.contactSection {
    display: flex;
    justify-content: space-between;
    background: #2e2e3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px #424242;
    gap: 20px;
    margin-top: 40px;
}

.contactSection:hover {
    box-shadow: 0 4px 10px #ff9800;
}

.forms {
    width: 55%;
    color: #e0e0e0;
}

.forms form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forms input, .forms textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #424242;
    border-radius: 5px;
    font-size: 16px;
}

.forms button {
    padding: 10px;
    background-color: #424242;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forms button:hover {
    background-color: #616161;
}

.contact {
    width: 40%;
    text-align: center;
    padding: 70px;
    font-family: 'Courier New', monospace;
}

.contact h1 {
    color: #ff9800;
    font-family: 'Georgia', serif;
}

.contact p {
    color: #ffc107;
    font-size: 20px;
    line-height: 1.6;
}

footer {
    background: #2e2e3f;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;
}