body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #c6c0e0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #424874;
    justify-content: space-evenly;
    padding: 15px 30px;
}

.nav h1 {
    color: #b6a8f0;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

.nav h1:hover {
    color: #dcd6f7;
}

.nav a {
    text-decoration: none;
    color: #edf2f4;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover {
    color: #dcd6f7;
}

.main {
    padding: 40px;
}

.about {
    text-align: left;
    color: floralwhite;
    font-family: 'Verdana', sans-serif;
}

.about img {
    float: right;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

.about h1 {
    color: #6a1b9a;
    line-height: 1.6;
    font-family: 'Georgia', serif;
}

.about p {
    color: #283593;
    font-size: 16px;
}

.pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.work {
    text-align: center;
}

.image {
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    height: 200px;
}

.txt {
    margin-top: 10px;
    color: #4527a0;
    font-family: 'Verdana', sans-serif;
}

.view {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #dcd6f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view:hover {
    background-color: #0056b3;
}

.contactSection {
    display: flex;
    justify-content: space-between;
    background: #dcd6f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.forms {
    width: 55%;
}

.forms form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forms input, .forms textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #424874;
    border-radius: 5px;
    font-size: 16px;
}

.forms button {
    padding: 10px;
    background-color: #424874;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forms button:hover {
    background-color: #5a5c92;
}

.contact {
    width: 40%;
    text-align: center;
    padding:70px;
    font-family: 'Courier New', monospace;
}

.contact h1 {
    color: #18021b;
    font-family: 'Georgia', serif;
}

.contact p {
    color: #141c74;
    line-height: 1.6;
}

footer {
    background: #424874;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;
}